<div class="upper-container">
    <div class="navbar-container">
        <div class="logo-container" [routerLink]="['/', 'home']">
            <img class="animate__animated animate__bounceInLeft animate__delay-1s" src="../../../assets/images/logos/new-logo-small.png" alt="Logo">
        </div>
        <div class="subtabs-container">
            <ul>
                <li class="animate__animated animate__bounceInRight animate__delay-1s"><a href="/home#about-container">About Me</a></li>
                <li class="animate__animated animate__bounceInRight animate__delay-2s"><a href="/home#portfolio-container">Portfolio</a></li>
                <li class="animate__animated animate__bounceInRight animate__delay-3s"><a href="/home#contact-container">Contact</a></li>
            </ul>
        </div>
    </div>
    <div id="main-banner-container">
        <div class="intro-container animate__animated animate__bounceInLeft">
            <div class="greeting-container">
                <h4 class="animate__animated animate__headShake animate__delay-2s">👋🏻</h4>
                <h4 class="animate__animated animate__bounceInUp animate__delay-1s">Hi, I am</h4>
            </div>
            <h1 class="name animate__animated animate__bounceInDown animate__delay-2s">Youssef!</h1>
            <!-- <h2 class="title animate__animated animate__bounceInUp animate__delay-3s">Software Engineer</h2> -->
            <div class="description-container">
                <h2 class="description-title animate__animated animate__bounceInLeft animate__delay-1s"></h2>
            </div>
            <div class="more-about-me-container">
                <a href="/home#about-container"><button class="btn btn-light animate__animated animate__bounce animate__delay-2s">Learn More</button></a>
            </div>
        </div>
        <div class="inline-image-container">
            <img src="../../../assets/images/profile_image-removebg-preview 3.png" alt="Youssef's image">
        </div>
    </div>
    <div class="arrow-container">
        <a href="/home#about-container"><i class="down-arrow animate__animated animate__shakeY animate__slower animate__infinite infinite animate__delay-4s fa fas fa-chevron-down"></i></a>
    </div>
</div>
<div id="about-container">
    <div class="about-title-container">
        <h3 class="about-title animate__animated animate__bounceInLeft">About Me</h3>
    </div>
    <div class="about-description-container">
        <p>
            I am a <b>Software Engineer</b> specialized in <b>Full Stack Engineering</b> and building web applications.
            I am also in my <b>second year</b> majoring in Computer Science attending the <b>University of North Texas</b>.
            <br>
            <br>
            I was not always that Software Engineer who could build web applications and deploy them.
            I started from <b>scratch</b>, and by “scratch” I mean .. <b>scratch</b>. One day when I was enjoying my 15-year-old
            life and hanging out with my friends, my mother saw an advertisement on the TV that was talking about coding and she thought it might be a good idea to tell me about it, and ever since I never looked back.
            I started to teach myself anything and everything I could. I started with <b>HTML 5</b> and <b>CSS3</b>. I built some cool websites with them. Later I started to learn <b>JavaScript</b> and I loved it. 
            I started to add it to the websites I was building.
            <br>
            <br>
            I also went on and started to pick a programming language for Back End Development, so I picked <b>Java</b>. 
            I learned <b>OOP</b> and the best practices and then I started to learn about <b>Spring</b> and <b>Spring Boot</b>. 
            <br>
            <br>
            To excel my Front End Development skills I learned <b>Angular</b> and <b>TypeScript</b> and built several web applications with them and they were
            very nice. Feel free to check them out in the <b>portfolio</b> section.
            <br>
            <br>
            I also went on with several other technologies to apply my knowledge and build useful and scalable software. Feel free to check out
            my <b>resume</b> to have more in-depth background about my skills.
        </p>
    </div>
    <div class="resume-container">
        <a target="_blank" href="../../../assets/images/resumes/Youssef Higazy's Application (1).pdf"><button type="button" class="btn btn-outline-dark"><i class="fa fas fa-file"></i> Resume</button></a>
    </div>
</div>
<div id="portfolio-container">
    <div class="portfolio-title-container">
        <h2>Portfolio</h2>
    </div>
    <div class="projects-container">
        <div class="project weight-project-container">
            <div class="project-title-container">
                <h5>Weight Calculations Destinations</h5>
            </div>
            <div class="project-inner-container">
                <div class="project-image-container">
                    <img src="../../../assets/images/projects-images/weight-project.png" alt="Weight Calculations Destinations project image">
                </div>
                <div class="project-description-container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, eligendi blanditiis consectetur temporibus voluptates iusto dolorem quidem alias dicta modi, suscipit nihil? Similique iusto officia ab nostrum fugit, nemo corrupti?</p>
                </div>
            </div>
            <div class="project-links-container">
                <button class="website btn btn-light">
                    <a target="_blank" href="https://weight-calculations.web.app/home">
                        <i class="fa fas fa-link"> Visit</i>
                    </a>
                </button>
                <button class="github btn btn-outline-light">
                    <a target="_blank" href="https://github.com/youssefhigazy/weight-calculator">
                        <i class="fa fab fa-github"> GitHub</i>
                    </a>
                </button>
            </div>
        </div>
        <div class="project trading-project-container">
            <div class="project-title-container">
                <h5>Trading Shortcut</h5>
            </div>
            <div class="project-inner-container">
                <div class="project-image-container">
                    <img src="../../../assets/images/projects-images/trading-project.png" alt="Trading Shortcut project image">
                </div>
                <div class="project-description-container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, eligendi blanditiis consectetur temporibus voluptates iusto dolorem quidem alias dicta modi, suscipit nihil? Similique iusto officia ab nostrum fugit, nemo corrupti?</p>
                </div>
            </div>
            <div class="project-links-container">
                <button class="website btn btn-light">
                    <a target="_blank" href="https://trading-shortcut.web.app/home">
                        <i class="fa fas fa-link"> Visit</i>
                    </a>
                </button>
                <button class="github btn btn-outline-light">
                    <a target="_blank" href="https://github.com/youssefhigazy/trading-shortcut">
                        <i class="fa fab fa-github"> GitHub</i>
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="contact-container">
    <div class="contact-title-container">
        <h2>Contact Me</h2>
    </div>
    <div class="contact-description-container">
        <p>
            You can reach out to me on
        </p>
        <p class="email">
            yoyohigazy77@gmail.com
        </p>
        <div class="contact-links-container">
            <a target="_blank" href="https://github.com/youssefhigazy"><i class="fa fab fa-github"></i></a>
            <a target="_blank" href="mailto:yoyohigazy77@gmail.com"><i class="fa fas fa-envelope"></i></a>
        </div>
    </div>
</div>
<footer>
    <div class="footer-logo-container">
        <img class="animate__animated animate__bounceInLeft animate__delay-1s" src="../../../assets/images/logos/new-logo-small.png" alt="Logo">
    </div>
    <div class="copy-rights-container">
        <b><p><i class="fa far fa-copyright"></i> Youssef Higazy 2021</p></b>
    </div>
</footer>
<!-- <div class="description-container"> -->
    <!-- <h1 class="description-part1 animate__animated animate__bounceInLeft">Hi, I am a</h1>
    <h2 class="animate__animated animate__bounceInLeft animate__delay-2s">Youssef</h2>
    <h2 class="description-part2 animate__animated animate__bounceInLeft animate__delay-1s"></h2>
    <h2 class="animate__animated animate__headShake animate__delay-2s">👋</h2> -->
<!-- </div> -->